@model string

<script>

    var lighting_colorPicker = new iro.ColorPicker("#color-picker-container-@Model", {
        width: 180,
        color: "#333"
    });

    function lighting_mode(hostname, mode) {
        $.ajax({
            type: "POST",
            url: "api/lighting/mode",
            data: JSON.stringify({ hostname: hostname, mode: mode }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
            //,success: (toggleResult) => { displayStateCallback && displayStateCallback(toggleResult.state); }
        });
    }

    function lighting_onColorChange(color, changes) {
        $.ajax({
            type: "POST",
            url: "api/lighting/colour",
            data: JSON.stringify({ hostname: '@Model', red: color.rgb.r, green: color.rgb.g, blue: color.rgb.b, white: 0 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
            //,success: (toggleResult) => { displayStateCallback && displayStateCallback(toggleResult.state); }
        });
    }

    lighting_colorPicker.on("input:end", lighting_onColorChange);

</script>

<div class="group-container">
    <p>@Model</p>

    <div id="color-picker-container-@Model"></div>

    <div class="icon light-off"
         onclick="lighting_mode('@Model', 'off')">
    </div>
    <div class="icon light-on"
         onclick="lighting_mode('@Model', 'on')">
    </div>
    <div class="icon light-random"
         onclick="lighting_mode('@Model', 'random')">
    </div>
    <div class="icon light-schedule"
         onclick="lighting_mode('@Model', 'schedule')">
    </div>
</div>

