#list-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 0;
}

#radio-list {
    background-color: var(--pp-background-darker);
    min-width: 12rem;
    text-align: center;
}

#episode-list {
    overflow-y: auto;
    background-color: var(--pp-background-darkest);
    width: 100%;
    text-align: center;
}

.content-list {
}

@media (max-width:600px) {
    #list-container {
        flex-direction: column;
    }

    #radio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
