body {
}


#list-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 0;
}

#radio-list {
    background-color: #855;
    min-width: 12rem;
}

#episode-list {
    overflow-y: scroll;
    background-color: #585;
    width: 100%;
}

div.content-list {
}
