body {
}

.leading-date {
    font-family: monospace;
    vertical-align: middle;
}

.leading-date.hidden {
    color: var(--pp-background-darkest);
}

.button-4 {
    appearance: none;
    background-color: var(--pp-base2);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: var(--pp-base01);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 1.6rem;
    list-style: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-align: left;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    width: 80%;
    margin: 0.4rem;
}

    .button-4:hover {
        color: var(--pp-base01);
        background-color: var(--pp-base3);
        text-decoration: none;
        transition-duration: 0.1s;
    }

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}

.list-item {
    
}

.list-item-button {
}

    .list-item-button.is-playing {
        background-color: var(--pp-blue);
        color: var(--pp-base3);
    }

        .list-item-button.is-playing:hover {
            filter: brightness(var(--brightness-hover));
        }

@media (max-width:950px) {
    #radio-list > .list-item {
        width: 33%;
    }

    #radio-list input {
        padding: 0.4rem 1.2rem 0.4rem 1.2rem;
        font-weight: 700;
        font-size: x-small;
    }
}

@media (max-width:600px) {
    #radio-list > .list-item {
        width: 33%;
    }

    #radio-list input {
        padding: 0.2rem 0.6rem 0.2rem 0.6rem;
        font-size: xx-small;
    }
}