.stackable {
    padding: 0.5rem;
    max-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons-container {
    display: flex;
    flex-direction: row;
}

#trackdetails {
    width: 100%;
    container-type: inline-size;
    margin-inline-end: 0.8rem;
}

.trackdetail {
    font-size: 1.4rem;
}

#trackname {
}

#trackdescription {
    color: #888;
    font-style: italic;
}

.name-description-splitter.newline{
    display: block;
}
.name-description-splitter.inline{
    display: none;
    color: #888;
}

.track-position {
    align-self: center;
    text-align: end;
    margin-right: 0.6rem;
    font-variant-numeric: tabular-nums;
    font-family: 'DM Mono', monospace;
    font-weight: 500;
    font-size: 0.8rem;
}

span#trackpositiontime {
    color: #fff;
    margin-inline: 0.175em;
    mix-blend-mode: difference;
    font-size: 1rem;
    line-height: 80%;
    font-weight: 100;
}

.track-progress-bar {
    padding-top: 1px;
}

.track-progress-bar-progress {
    background-color: var(--pp-accent);
}

.track-progress-bar-background {
    background: linear-gradient(0deg, rgba(0,0,0,0.12) 0%, var(--pp-background-darker) 35%, var(--pp-background-darker) 65%, rgba(0,0,0,0.12) 100%);
}

.icon {
    width: 3em;
    height: 3em;
    transition: all .15s ease-in-out;
    background-repeat: no-repeat !important;
}

    .icon.seek-back {
        background: url("/images/seek-back.svg");
        background-size: cover;
        margin-inline: -8px;
    }
    
    .icon.seek-forward {
        background: url("/images/seek-forward.svg");
        background-size: cover;
        margin-left: 1.3rem;
    }
    
    .icon.playpause.play {
        background: url("/images/play.svg");
        background-size: cover;
        margin-left: 1.3rem;
    }

    .icon.playpause.pause {
        background: url("/images/pause.svg");
        background-size: cover;
        margin-left: 1.3rem;
    }

@media (max-width:950px) {
    
    .trackdetail {
        font-size: clamp(0.8rem, 5cqw, 1.2rem);
    }

    .name-description-splitter.newline{
        display: none;
    }
    .name-description-splitter.inline{
        display: inline;
    }
}