.stackable {
    padding: 1rem;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons-container {
    display: flex;
    flex-direction: row;
}

#trackname {
}

#trackdescription {
    color: #888;
}

.icon {
    width: 3em;
    height: 3em;
    transition: all .15s ease-in-out;
    background-repeat: no-repeat !important;
    margin-left: 2rem;
}

    .icon.playpause.play {
        background: url("/images/play.svg");
        background-size: cover;
    }

    .icon.playpause.pause {
        background: url("/images/pause.svg");
        background-size: cover;
    }

    .icon.seek-back {
        background: url("/images/seek-back.svg");
        background-size: cover;
    }

    .icon.seek-forward {
        background: url("/images/seek-forward.svg");
        background-size: cover;
    }
