#radio-container {
    display: list-item;
    width: 100%;
    flex-direction: row;
    min-height: 0;
}

#radio-list {
    min-width: 12rem;
    text-align: center;
    border-inline-end: solid;
    border-image: linear-gradient(to bottom, var(--pp-background) 0%, var(--pp-background-darkest) 30%, var(--pp-background-darkest) 70%, var(--pp-background) 100%) 1;
    border-width: 2px;
}

@media (max-width:950px) {
    #radio-container {
        flex-direction: column;
    }

    #radio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-inline-end: none;
        border-block-end: solid;
        border-image: linear-gradient(to right, var(--pp-background) 0%, var(--pp-background-darkest) 30%, var(--pp-background-darkest) 70%, var(--pp-background) 100%) 1;
        padding-bottom: 0.3rem;
    }
}
