@using Microsoft.AspNetCore.Components.Web.Virtualization
@using PiperPicker.Models;
@using piperpicker.Components
@using PiperPicker.Proxies
@using static PiperPicker.Proxies.MopidyProxy;

@inject IConfiguration Configuration
@inject MopidyProxy MopidyProxy

<div id="radio-container" class="stackable">

    @if (_radioStations != null)
    {
        <div id="radio-list" class="content-list">
            @foreach (var radioStation in _radioStations)
            {
                <ListItem MopidyItem=radioStation></ListItem>
            }
        </div>
    }

</div>

@code {
    IList<MopidyItem> _radioStations = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _radioStations = Configuration
                .GetSection("Mopidy:RadioStreams")
                .GetChildren()
                .Select(_ => new MopidyItem { Name = _.Key, Uri = _.Value })
                .OrderBy(_ => _.Name)
                .ToList();

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}