@using piperpicker.Components
@using PiperPicker.Proxies
@using static PiperPicker.Proxies.SnapcastClientProxy;
@inject SnapcastClientProxy SnapcastClientProxy
@inject IConfiguration Configuration

<div class="stackable">
    <input id="volume-slider" type="range" min="0" max="100" step="1" @onchange="VolumeChangeEventHandler" value="@Volume" class="slider">
</div>

@code {
    private string _volumeControlClientId;
    private SnapcastClient _snapClient = default!;

    int Volume => _snapClient?.Config.Volume.Percent ?? 0;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _volumeControlClientId = Configuration["SnapcastServer:VolumeControlClientId"];
            _snapClient = SnapcastClient.BuildDefault(_volumeControlClientId);

            SnapcastClientProxy.OnSnapNotification += SnapNotificationEventHandler;
            if (SnapcastClientProxy.TryGetSnapClient(_volumeControlClientId, out var snapclient))
            {
                _snapClient = snapclient;
                StateHasChanged();
            }
            SnapcastClientProxy.MonitorClient(_volumeControlClientId);
        }

        base.OnAfterRender(firstRender);

    }

    private void SnapNotificationEventHandler(object sender, SnapcastClientNotificationEventArgs snapNotification)
    {
        InvokeAsync(() => {
            _snapClient = snapNotification.GetClientState();
            StateHasChanged();
        });
    }

    private void VolumeChangeEventHandler(ChangeEventArgs volumeChangeEvent)
    {
        if (int.TryParse(volumeChangeEvent.Value?.ToString(), out int volume))
        {
            SnapcastClientProxy.SetVolume(_volumeControlClientId, volume);
        }
    }
}
