@model PiperPicker.Proxies.MopidyProxy.NowPlayingDto

<div id="now-playing-container" class="group-container">
    <div class="controls-container">
        <div
            class="icon playpause @(Model.State == "Playing" ? "pause" : "play" )"
            onclick="mopidyTogglePlay(function(s) { reloadMe('#now-playing-container', 'spa/?handler=NowPlayingView'); })">
        </div>
    </div>
    <div class="nowplaying-track-container">
        <div class="nowplaying-name">@Model.State: @Model.Name</div>
    </div>
    
</div>