.settings-schedule-action-container {
    margin: auto;
    margin-right: 0;
}

.settings-hostname-action-container {
    margin: 1em;
}

.settings-hostname {
    margin: 1em;
}

.number-input {
    width: 2em;
}