/*
Solarized Light
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75; // optional emphasised
$base00:    #657b83; // body text / default
$base0:     #839496;
$base1:     #93a1a1; // secondary content
$base2:     #eee8d5; // background highlights
$base3:     #fdf6e3; // background
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

* {
    font-family: 'Fira Sans', sans-serif !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.navbar {
    background-color: #fdf6e3;
    border-color: #268bd2;
    border-style: solid;
    border-width: 0 0 0.3em 0;
}

    .navbar .container {
        max-width: 40em;
        margin-left: auto;
        margin-right:auto;
        display: flex;
        justify-content: space-evenly;
    }

.nav-item-container {
    flex-flow: column;
}

.nav-item-container:focus {
    outline: none;
}

.navbar-brand,
.navbar-nav > li > a {
    color: #073642 !important;
}

    .navbar-nav > li > a:hover {
        color: #eee8d5 !important;
    }

.navbar-toggle .icon-bar {
    background-color: #073642 !important;
}

.navbar-toggle {
    background-color: #fdf6e380 !important;
    border-color: #073642 !important;
}

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #fdf6e3 !important;
    }

    .navbar-toggle.navbar-left {
        float: left !important;
        margin-left: 10px !important;
    }

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: #eee8d5 !important;
    color: #657b83 !important;
}

.active {
    box-shadow: 0px 1px 7px 1px #00000080;
}

#panel {
    overflow-y: auto;
    max-height: calc(100vh - 11em);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.group-container {
    background-color: #eee8d5;
}

.group-container-title {
    text-align: center;
    padding-top: 1em;
}

.controls-container {
    display: flex;
    justify-content: center;
}

.nowplaying-track-container {
    position: relative;
    bottom: 0.8em;
    display: flex;
    justify-content: center;
}

.nowplaying-name {
    white-space: pre;
    color: #268bd2;
}

#now-playing-container {
    height: 7em;
}

.episode-item-container {
    display: flex;
    justify-content: flex-start;
}

.episode-item {
    align-self: center;
}

    .episode-item:hover {
        cursor: pointer;
    }

.title-container {
    display: flex;
    justify-content: center;
}

.icon {
    width: 3em;
    height: 3em;
    margin: 1.5em;
    transition: all .15s ease-in-out;
    background-repeat: no-repeat !important;
}

    .icon:focus {
        outline: none;
    }

    .icon:hover {
        transform: scale(1.1);
    }

    .icon:active {
        transform: scale(0.9);
    }

    .icon.control {
        background: url("/images/menu-item-control.svg");
        background-size: cover;
    }

    .icon.playlist {
        background: url("/images/menu-item-playlist.svg");
        background-size: cover;
    }

    .icon.radio {
        background: url("/images/menu-item-radio.svg");
        background-size: cover;
    }

    .icon.lighting {
        background: url("/images/menu-item-lighting.svg");
        background-size: cover;
    }

    .icon.settings {
        background: url("/images/menu-item-settings.svg");
        background-size: cover;
    }

    .icon.mute-on {
        background: url("/images/mute-on.svg");
        background-size: cover;
    }

    .icon.mute-off {
        background: url("/images/mute-off.svg");
        background-size: cover;
    }

    .icon.playpause.play {
        background: url("/images/play.svg");
        background-size: cover;
    }

    .icon.plus {
        background: url("/images/plus.svg");
        background-size: cover;
    }

    .icon.minus {
        background: url("/images/minus.svg");
        background-size: cover;
    }

    .icon.playpause.pause {
        background: url("/images/pause.svg");
        background-size: cover;
    }

    .icon.light-off {
        background: url("/images/light-off.svg");
        background-size: cover;
    }

    .icon.light-on {
        background: url("/images/light-on.svg");
        background-size: cover;
    }

    .icon.light-random {
        background: url("/images/light-random.svg");
        background-size: cover;
    }

    .icon.light-schedule {
        background: url("/images/light-schedule.svg");
        background-size: cover;
    }

    .icon.spinner {
        color: transparent;
        background: url("/images/spinner.svg") !important;
        background-size: cover !important;
        animation-name: spin;
        animation-duration: 350ms;
        animation-iteration-count: infinite;
        animation-timing-function: steps(8);
    }

    .icon.nav-item {
        margin: 0.5em;
    }

.panel-icon {
    border: solid;
    border-color: transparent;
    border-width: 0.5em;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#global-volume-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.current-volume {
    padding-top: 0.7em;
    padding-left: 0.5em;
}

#snapclients-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.snapclient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0;
    background-color: #fdf6e3;
    color: #657b83;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 400px) {

    .icon {
        width: 2em;
        height: 2em;
        margin: 0.8em;
    }

    .current-volume {
        padding-top: 0.4em;
    }

    #now-playing-container {
        height: 5em;
    }

    .nowplaying-track-container {
        bottom: 0.2em;
    }

    #panel {
        max-height: calc(100vh - 8em);
    }
}
