@page
@model ControlModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/control.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>

        function reportPlayState(playState) {
            $("#playbackState").load("?handler=PlaybackStateView");
        }

        $("#nowPlaying").load("?handler=NowPlayingView");
        $("#snapClients").load("?handler=SnapClientsView");
        $("#playbackState").load("?handler=PlaybackStateView");

    </script>
}

<div class="row">
    <div class="title-container">
        <h3>Control</h3>
    </div>
    <div class="status-container">
        <div id="nowPlaying"></div>
        <div id="snapClients"></div>
        <div id="playbackState"></div>
    </div>
    <div class="controls-container">
        <img class="icon" src="/images/play-pause.svg" onclick="mopidyTogglePlay(function(s) { reportPlayState(s); })"/>
    </div>
</div>