@page
@model ControlModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/control.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>

        $("#nowPlaying").load("?handler=NowPlayingView");
        $("#snapClients").load("?handler=SnapClientsView");

        // xyzzy could move some of this to site.js and/or _Layout.cshtml?
        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/stateHub").build();
        hubConnection.start();
        hubConnection.on("SnapNotification", function (message) {
            reloadMe('#snapclients-container', 'control/?handler=SnapClientsView')
        });
        hubConnection.on("MopidyNotification", function (message) {
            reloadMe('#status-container', 'control/?handler=NowPlayingView')
        });

    </script>
}

<div class="row">

    <div id="nowPlaying"></div>
    <div id="snapClients"></div>

</div>