@page
@model ControlModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<div class="row">
    <div class="col-md-3">
        <h2>Control</h2>
    </div>
    <div class="status-container">
        <span>@Model.Status.Name / @Model.Status.Comment</span>
    </div>
    <div class="controls-container">
        <button type="button" class="episode-play" onclick="togglePlay()" >Play / Pause</button>
    </div>
</div>

<script>
    function togglePlay(url) {
        console.log('play ' + url)

        $.ajax({
                type: "POST",
                url: "api/mopidy/togglepause",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                data: JSON.stringify({uri: url}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                
            }

            function errorFunc(data) {
                console.log(data);
            }
    }
</script>
