@page
@model ControlModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/control.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>

        function reportPlayState(playState) {
            $("#playbackState").load("?handler=PlaybackStateView");
        }

        $("#nowPlaying").load("?handler=NowPlayingView");
        $("#playbackState").load("?handler=PlaybackStateView");
        $("#snapClients").load("?handler=SnapClientsView");

        // xyzzy could move some of this to site.js?
        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/stateHub").build();
        hubConnection.start();
        hubConnection.on("SnapNotification", function (message) {
            reloadMe('#snapclients-container', 'control/?handler=SnapClientsView')
        });

    </script>
}

<div class="row">
    <div class="title-container">
        <h3>Control</h3>
    </div>

    <div class="status-container">
        <div class="controls-container">
            <img class="icon" src="/images/play-pause.svg" onclick="mopidyTogglePlay(function(s) { reportPlayState(s); })"/>
        </div>
        <div id="nowPlaying"></div>
        <div id="playbackState"></div>
    </div>

    <div id="snapClients"></div>

</div>