body {
}

#main {
    
}

#layout-sections {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto auto;
}

#nowplaying-section {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#volume-section {
    grid-column: 1 / span 2;
    grid-row: 2;
    max-height: 1.8rem;
}

#radio-section {
    background-color: var(--pp-background);
    grid-column: 1;
    grid-row: 3;
    overflow: auto;
}

#episodes-section {
    grid-column: 2;
    grid-row: 3;
    overflow: auto;
    background: linear-gradient(0deg,var(--pp-background-darkest) 70%, var(--pp-background) 100%);
}

@media (max-width:950px) {
    #radio-section {
        grid-column: 1 / span 2;
        grid-row: 3;
        overflow: auto;
    }

    #episodes-section {
        grid-column: 1 / span 2;
        grid-row: 4;
        overflow: auto;
    }
}
