@page "/"
@using piperpicker.Components
@using PiperPicker.Proxies

<div id="layout-sections">
    <div id="nowplaying-section">
        <NowPlayingControl></NowPlayingControl>
    </div>
    <div id="volume-section">
        <VolumeControl></VolumeControl>
    </div>
    <div id="radio-section">
        <RadioSelector></RadioSelector>
    </div>
    <div id="episodes-section">
        <EpisodeSelector></EpisodeSelector>
    </div>
    
</div>

@code {

}
