@page
@model piperpicker.Pages.LightingModel
@{
    ViewData["Title"] = "Lighting";
}

<h2>Lighting</h2>

<div>

    <div class="icon plus"
         onclick="lightingColour()">
        Colour
    </div>
    <div class="icon plus"
         onclick="lightingMode('ambilight', 'off')">
        Off
    </div>
    <div class="icon plus"
         onclick="lightingMode('ambilight', 'on')">
        On
    </div>
    <div class="icon plus"
         onclick="lightingMode('ambilight', 'schedule')">
        Schedule
    </div>

    <div class="icon plus"
         onclick="lightingColour()">
        Colour
    </div>
    <div class="icon plus"
         onclick="lightingMode('backlight', 'off')">
        Off
    </div>
    <div class="icon plus"
         onclick="lightingMode('backlight', 'on')">
        On
    </div>
    <div class="icon plus"
         onclick="lightingMode('backlight', 'schedule')">
        Schedule
    </div>

</div>