@page
@model RadioModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Scripts {
    <script>
        $("#nowPlaying").load("spa/?handler=NowPlayingView");

        // xyzzy could move some of this to site.js and/or _Layout.cshtml?
        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/stateHub").build();
        hubConnection.start();
        hubConnection.on("MopidyNotification", function (message) {
            reloadMe('#status-container', 'spa/?handler=NowPlayingView')
        });

    </script>
}

<div class="row">
    <div id="nowPlaying"></div>
    <div>
        <ul class="episode-list">
            @foreach(var item in @Model.Stations) {
                <div class="episode-item-container">
                    <img class="icon episode-play" src="/images/play.svg" onclick="mopidyPlayUri('@item.Uri')"/>
                    <li class="episode-item" onclick="play('@item.Uri')">@item.Name</li>
                </div>
            }
        </ul>
    </div>
</div>
