@page
@model SpaModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/spa.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>

        function hideShowForPartial(activePartial) {
            if (activePartial === "snapcast") {
                document.getElementById('refreshSnapClientsLinkId').click();
            }
        }

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/stateHub").build();
        hubConnection.start();
        hubConnection.on("SnapNotification", function (message) {
            document.getElementById('refreshSnapClientsLinkId').click();
        });
        hubConnection.on("MopidyNotification", function (message) {
            document.getElementById('refreshNowPlayingLinkId').click();
        });

        document.getElementById('initialiseNowPlayingLinkId').click();
        document.getElementById('snapcastLinkId').click();

    </script>
}

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="snapcastLinkId" href="" data-ajax="true" data-ajax-url="spa/?handler=SnapCastPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('snapcast')">Control</a></li>
                <li><a href="" data-ajax="true" data-ajax-url="spa/?handler=RadioPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('radio')">Radio</a></li>
                <li><a href="" data-ajax="true" data-ajax-url="spa/?handler=RadMacPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('radmac')">RadMac</a></li>
                <li><a href="" data-ajax="true" data-ajax-url="spa/?handler=LightingPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('lighting')">Lighting</a></li>
            </ul>
        </div>

        <a id="refreshSnapClientsLinkId" href="" data-ajax="true" data-ajax-url="spa/?handler=SnapClientsView" data-ajax-update="#snapcast-container"></a>

        <a id="initialiseNowPlayingLinkId" href="" data-ajax="true" data-ajax-url="spa/?handler=NowPlayingView" data-ajax-update="#now-playing-container"></a>
        <a id="refreshNowPlayingLinkId" href="" data-ajax="true" data-ajax-url="spa/?handler=NowPlayingView" data-ajax-update="#status-container"></a>
    </div>
</nav>

<div class="row">

    <div id="now-playing-container"></div>

    <div id="panel"></div>

</div>