@page
@model SpaModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/spa.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>

        var activePage = "";

        function hideShowForPartial(activePartial) {

            activePage = activePartial.replace("navitem-", "");

            if (activePartial === "navitem-control") {
                document.getElementById('linkid-refreshsnapclients').click();
            }

            $(".nav-item").each(function(){
                $(this).removeClass("active");
            });
            $("#" + activePartial).addClass("active");
        }

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/stateHub").build();
        hubConnection.start();
        hubConnection.on("SnapNotification", function (message) {
            if (activePage === "control")
                document.getElementById('linkid-refreshsnapclients').click();
        });
        hubConnection.on("LightingNotification", function (message) {
            if (activePage === "lighting")
                document.getElementById('linkid-refreshlights').click();
        });
        hubConnection.on("MopidyNotification", function (message) {
            document.getElementById('linkid-refreshnowplaying').click();
        });

        document.getElementById('linkid-initialisenowplaying').click();
        document.getElementById('linkid-playlist').click();

    </script>
}

<nav class="navbar">
    <div class="container">
        <a id="linkid-control" class="nav-item-container" href="" data-ajax="true" data-ajax-url="spa/?handler=SnapClientsView" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('navitem-control')">
            <div id="navitem-control" class="nav-item icon control"></div>
        </a>
        <a class="nav-item-container" href="" data-ajax="true" data-ajax-url="spa/?handler=RadioPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('navitem-radio')">
            <div id="navitem-radio" class="nav-item icon radio"></div>
        </a>
        <a id="linkid-playlist" class="nav-item-container" href="" data-ajax="true" data-ajax-url="spa/?handler=EpisodesPartial" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('navitem-playlist')">
            <div id="navitem-playlist" class="nav-item icon playlist"></div>
        </a>
        <a class="nav-item-container" href="" data-ajax="true" data-ajax-url="spa/?handler=LightingView" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('navitem-lighting')">
            <div id="navitem-lighting" class="nav-item icon lighting"></div>
        </a>
        <a class="nav-item-container" href="" data-ajax="true" data-ajax-url="spa/?handler=SettingsView" data-ajax-update="#panel" data-ajax-success="hideShowForPartial('navitem-settings')">
            <div id="navitem-settings" class="nav-item icon settings"></div>
        </a>
    </div>
</nav>

<div class="row">
    <div id="now-playing-panel"></div>
    <div id="panel"></div>
</div>

<a id="linkid-refreshsnapclients" href="" data-ajax="true" data-ajax-url="spa/?handler=SnapClientsView" data-ajax-update="#panel"></a>
<a id="linkid-refreshlights" href="" data-ajax="true" data-ajax-url="spa/?handler=LightingView" data-ajax-update="#panel"></a>

<a id="linkid-initialisenowplaying" href="" data-ajax="true" data-ajax-url="spa/?handler=NowPlayingView" data-ajax-update="#now-playing-panel"></a>
<a id="linkid-refreshnowplaying" href="" data-ajax="true" data-ajax-url="spa/?handler=NowPlayingView" data-ajax-update="#now-playing-container"></a>