@page
@model SpotifyModel
@{
    ViewData["Title"] = "Spotify";
}
<div class="title-container">
    <h3>@ViewData["Title"]</h3>
</div>
<h3>@Model.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
