@model PiperPicker.Proxies.MopidyProxy.NowPlayingDto

<div id="status-container" class="status-container">
    <div class="controls-container">
        <div
            class="icon playpause @(Model.State == "playing" ? "pause" : "play" )"
            onclick="mopidyTogglePlay(function(s) { reloadMe('#status-container', 'spa/?handler=NowPlayingView'); })">
        </div>
    </div>
    <div class="nowplaying-track-container">
        <div class="nowplaying-name">@Model.Name</div>
    </div>
    
</div>