@model IEnumerable<PiperPicker.Proxies.SnapProxy.SnapClient>

<div id="snapclients-container">
    @foreach(var snapclient in @Model) {
        <div class="snapclient-container">
            <p>@snapclient.Host @(snapclient.Muted ? ": mute" : $"@ {snapclient.Volume}%")</p>
            <img class="icon episode-play" src="/images/play.svg" onclick="setSnapClientMuted('@snapclient.Mac', @(Json.Serialize(!snapclient.Muted)))"/>
        </div>
    }
</div>